<div class="container">
    <div class="sidebar">
    <h3><a href="/">My Projects</a></h3>
    {{> projectlist}}
</div>
<div class="details">
    <h1>{{title}}</h1>
    <img src="/{{dir}}/screenshot.png" alt="" />
    <p>{{description}}</p>
    <a href="/{{dir}}" target="blank">Launch</a>
</div>
</div>