* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(240, 254, 255), rgb(90, 216, 255));
    height: 100vh;
    /* overflow: hidden; */
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px;
}

a {
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: orangered;
}

.container {
    height: 70%;
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.project {
    margin: 10px 1px;
    text-align: center;
}

.project img {
    width: 250px;
    margin-top: 10px;
}

.details {
    flex-grow: 4;
    align-self: flex-start;
    height: 80%;
}

.details h1,
p {
    margin: 20px;
}

.details > img {
    width: 500px;
    max-height: 400px;
}

.sidebar {
    align-self: center;
    flex-shrink: 5;
}

.sidebar h3 a {
    color: darkblue;
    text-decoration: underline;
}

.sidebar a p:hover {
    background-color: yellow;
}

.activeProj {
    background-color: yellow;
}
