.authors {
}

.author {
    display: flex;
    margin-bottom: 20px;
    border: 2px solid grey;
}

.photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

.quote {
    z-index: 100;
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 2em;
    color: white;
    font-weight: bold;
    /* word-wrap: normal; */
    width: 90%;
}

.details {
    padding: 50px;
}

.personal {
    font-size: 2em;
    font-weight: bold;
}

.works {
    font-size: 1.5em;
    line-height: 2em;
}
