* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kitty {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
}

.kitty.onscreen {
    transform: translateX(0);
}

.kitty:first-child {
    background-image: url("assets/kit1.jpg");
}

.kitty:nth-child(2) {
    background-image: url("assets/kit2.jpg");
}

.kitty:nth-child(3) {
    background-image: url("assets/kit3.jpg");
}

.kitty:nth-child(4) {
    background-image: url("assets/kit4.jpg");
}

.kitty.exit {
    transform: translateX(-100%);
}

.kitty.onscreen,
.kitty.exit {
    /* give the transition JUST to the animated statuses, not to the default .kitty */
    transition-duration: 1s;
}

.carousel {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dots li {
    margin: 5px 10px;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.dots li.current {
    background-color: lavender;
}
