body {
    margin: 0;
    overflow-x: hidden;
}

nav {
    padding-top: 100px;
    padding-right: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 216, 62, 0.87);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

nav li {
    list-style-type: none;
    font-size: 2rem;
}

nav a {
    color: chocolate;
    text-decoration: none;
}

nav.open {
    transform: translateX(0);
    position: fixed;
}

.backdrop.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    padding-top: 20px;
    position: relative;
    height: 70px;
}

#logo {
    position: absolute;
    left: 20px;
    height: 50px;
}

#menu {
    position: absolute;
    right: 20px;
    height: 50px;
    z-index: 1500;
}

#landing {
    height: 600px;
    background-image: linear-gradient(
            rgba(51, 51, 51, 0.4),
            rgba(51, 51, 51, 0.42)
        ),
        url("spices.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
}

#welcome {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

#mainbtn {
    color: chocolate;
    background-color: rgb(255, 202, 26);
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 800px;
    padding: 7px 60px;
    border: 3px solid chocolate;
    border-radius: 30px;
}

#infos {
    background-color: rgb(160, 160, 160);
    color: black;
    min-height: 150px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

.infobox {
    display: inline-block;
    height: 120px;
    margin-left: 20px;
    /* width: 400px; */
    /* width: 40%; */
    margin-bottom: 10px;
}

.infobox div {
    display: inline-block;
    margin-top: 25px;
    vertical-align: top;
}

.infotext {
    width: 320px;
}

.infobox p {
    margin: 10px 3px;
    text-align: left;
}

.infoboximage {
    height: 40px;
    margin: 10px;
}

footer {
    padding-left: 30px;
    padding-top: 10px;
    margin: 0;
    height: 30px;
    color: white;
    background-color: rgb(72, 72, 72);
}

footer p {
    margin: 0px;
}

/* Small screens */

@media screen and (max-width: 400px) {
    header {
        height: 50px;
    }

    #logo {
        height: 30px;
    }

    #menu {
        height: 35px;
    }

    #landing {
        height: 350px;
        font-size: 16px;
        font-weight: 300;
        margin-top: 0px;
    }

    #welcome {
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #mainbtn {
        font-size: 16px;
        font-weight: 500px;
        padding: 7px 30px;
    }

    #infos {
        font-size: 14px;
        text-align: left;
    }

    .infobox {
        /* width: 400px; */
        height: 80px;
        margin: 0px;
        padding: 0px;
    }

    .infobox div {
        display: inline-block;
        margin: 1px;
    }

    .infobox p {
        margin: 10px 3px;
    }

    .infoboximage {
        height: 30px;
        margin: 10px;
    }
}

/* REALLY small screens */

@media screen and (max-width: 360px) {
    #infos {
        font-size: 12px;
    }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(29, 29, 29);
    }

    nav {
        background-color: rgba(60, 36, 13, 0.8);
    }

    header {
        background-color: rgb(29, 29, 29);
    }

    #landing {
        background-image: linear-gradient(
                rgba(28, 28, 28, 0.75),
                rgba(28, 28, 28, 0.75)
            ),
            url("spices.jpg");
    }

    #mainbtn {
        color: chocolate;
        background-color: rgb(29, 29, 29);
    }

    #infos {
        background-color: rgb(29, 29, 29);
        color: white;
    }

    #infotext {
        font-size: 16px;
    }
}
